# Python
__pycache__/
*.pyc
*.pyo
.env

# Data & model artifacts (large files)
data/
artifacts/

# Streamlit secrets
.streamlit/secrets.toml

# Virtual environment
venv/
.venv/
env/

# IDE
.vscode/
.idea/
